/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /**{*/
 /*  padding: 0;*/
 /*  margin: 0;*/
 /*  box-sizing: border-box;*/
 /*}*/
.start{
  color:gray;
}
.link{
  color: black;
}
.setting:hover{
  background-color: black;
  color: #fff;
}

 /*top*/
 body{
   padding-left: 40px
 }
 span{
   font-weight: bold;
 }
 main{
   padding-left: 40px;
 }
 p{
   line-height: 3;
 }

 /*index*/
 table{
   padding-bottom: 30px;
 }
 td{
   padding: 4px 5px;
 }
 .form-item{
   margin-bottom: 10px
 }
